$--color-primary: #f05324;
$--color-info: #409EFF;
$--color-facebook: #3b5998;
$--color-white: white;
$--color-muted: #90949c;

$--font-path: '/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
